.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;

  .pokeball,
  .superball {
    position: relative;
    margin: 5px;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 3px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    cursor: pointer;
  }

  .pokeball::before,
  .pokeball::after,
  .superball::before,
  .superball::after {
    content: "";
    position: absolute;
  }

  .pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
  }

  .superball::before {
    background: blue;
    width: 100%;
    height: 50%;
  }

  .pokeball::after,
  .superball::after {
    top: calc(50% - 8%);
    width: 100%;
    height: 5px;
    background: #000;
  }

  .redMarque {
    display: flex;
    justify-content: space-between;
  }

  .redMarque1 {
    position: absolute;
    content: "";
    width: 28%;
    height: 6px;
    background: red;
    top: 10%;
    left: 5%;
    transform: rotate(45deg);
  }

  .redMarque2 {
    position: absolute;
    content: "";
    width: 28%;
    height: 6px;
    background: red;
    top: 11%;
    left: 67%;
    transform: rotate(135deg);
  }

  .pokeball__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: #7f8c8d;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 3px black;
  }

  .superball__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: #7f8c8d;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 3px black;
  }

  .pokeball:hover .pokeball__button,
  .superball:hover .superball__button {
    animation: blink 0.5s alternate infinite;
  }

  .pokeball:hover,
  .superball:hover {
    animation: shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  }
}

/* Animation */
@keyframes blink {
  from {
    background: #eee;
  }
  to {
    background: #e74c3c;
  }
}
@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-3px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(3px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-3px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(3px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes fall {
  0% {
    top: -200px;
  }
  60% {
    top: 0;
  }
  80% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}
